<form action="/greetings" method="POST">
    <label for="name"></label>
    <input type="text" name="name" id="name" placeholder="Ingresa tu nombre">
        <br />
    <input type="submit" value="Saludar" name="submit">
</form>