<form action="/greetings" method="POST">

    <%= token_tag %>
    <label for="name"></label>
    <input type="text" name="name" id="name" placeholder="Ingresa tu nombre">
        <br />
    <input type="submit" value="Saludar" name="submit">
</form>